{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}


<div class="page-header">
  <h1>Allmän projektdata</h1>
</div>
<div style="height: 500px;">
<canvas id="myChart" width="auto" height="auto"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Belysning', 'Lekparker', 'Trottoarer'],
        datasets: [{
            label: 'Antal barns val',
            data: [12, 19, 3, 5],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
</div>
</br></br></br></br></br>


<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
<script>
    $(document).ready(function() {
        var ctx = $("#chart-line");
        var myLineChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Killar", "Tjejer", "Annat/Vill ej ange"],
                datasets: [{
                    data: [5, 18, 2],
                    backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(0, 255, 0, 0.5)", "rgba(0, 0, 255, 0.5)"]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Könsfördelning'
                }
            }
        });
    });
</script>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row">
            <div class="container-fluid d-flex justify-content-center">
                <div class="col-sm-8 col-md-6">
                    <div class="card">
                        <div class="card-body" style="height: 420px">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                </div>
                            </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>Åsikter</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Skola</th>
        <th scope="col">Kön</th>
        <th scope="col">Födelseår</th>
        <th scope="col">Åsikt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>S:t Olofsskolan</td>
        <td>Kille</td>
        <td>2010</td>
        <td>För långt till skatepark</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>S:t Olofsskolan</td>
        <td>Tjej</td>
        <td>2010</td>
        <td>Inga bänkar</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>S:t Olofsskolan</td>
        <td>Tjej</td>
        <td>2010</td>
        <td>För mörkt</td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary"><a href="{{ url_for('projects') }}" style="text-decoration: none; color: white;">Tillbaks</button>



{% endblock %}