{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}


<div class="page-header">
  <p>Ge klassens åsikt</p>
</div>

  <div class='apare' id='exhgt'>
    <div class="form-group">
      <p>Pedagogiskt stöd: Det mest centrala i den öppna intervjutekniken är ordet berätta. Uppmaningen berätta kan varieras med synonymerna beskriv eller förklara. Genom att använda någon av dessa uppmaningar undviks slutna ja- eller nejsvar som begränsar informationen.</p>
        <label for="exampleFormControlTextarea1">Åsikter</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Halt på vägen till skolan"></textarea>
      </div>
  </div>

  <button type="button" class="btn btn-primary"><a href="{{ url_for('submit_school_klass') }}" style="text-decoration: none; color: white;">Submit</button>
</div>

{% endblock %}