{% extends 'layouts/main.html' %}
{% block title %}Choose{% endblock %}
{% block content %}


<div class="page-header">
    <h1 style="text-align: center;">Nacksta</h1>
</div>

<div class="container">
    <div class="row">

        <div class="col-lg" style="border-style: solid; color: black;">
            <h1 style="text-align: center;">Aktuella projekt</h1>
            <div class="list-group">
                <a href="{{ url_for('form_projects') }}" class="list-group-item list-group-item-action">2021-FEB: Nacksta för barnen</a>
                <a href="#" class="list-group-item list-group-item-action">2021-JAN: Sjukhuset Sundsvall</a>
            </div>
        </div>

        <div class="col-lg" style="border-style: solid; color: black;">
            <h1 style="text-align: center;">Historiska projekt</h1>
            <div class="list-group">
                <a href="{{ url_for('lekplats') }}" class="list-group-item list-group-item-action">2020-DEC: Lekplats</a></a>
                <a href="{{ url_for('allman') }}" class="list-group-item list-group-item-action">2020-JUN: Allmän</a></a>
            </div>
        </div>


    </div>
</div>

</div>

{% endblock %}